# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
meuenv/
venv/
.venv/

# Environment variables / secrets
.env
.env.*

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
