# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
meuenv/
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
*.csv
*.xlsx
*.xls

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
